.DS_Store

extended/.DS_Store
extended/app/.DS_Store

simplesample/.DS_Store
simplesample/app/.DS_Store

extended/Resources/
extended/plugins/
extended/build/
extended/i18n/
extended/platform/

simplesample/Resources/
simplesample/plugins/
simplesample/build/
simplesample/i18n/
simplesample/platform/
